# NewsAPI Configuration
NEWSAPI_KEY="---newsapi.org api key---"

# Email Configuration
EMAIL_USER="---gmail address---"
EMAIL_PASSWORD="---gmail app password---"
EMAIL_RECIPIENTS=["---recipient1 email address---", "---recipient2 email address---"]

# SMTP Settings (Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587